<div class="super_container">

  	<!-- Reset button -->
	<div class="restart">
		<div id="reset_button" ng-click="pressResetButton()" ng-style="resetStyle"></div>
	</div>

	<!-- Sets who puts down a 'X' or an 'O' -->
	<div class="radio_container clearfix">
		<div class="player_1_radio" ng-style="winStyle">
			<input type="radio" name="player" id="player_1" ng-model="radio" value="1">
			<label>Player 1</label>
		</div>
		<div class="player_2_radio" ng-style="winStyle2">
			<div class="player_2_inner">
				<label>Player 2</label>
				<input type="radio" name="player" id="player_2" ng-model="radio" value="2">
			</div>
		</div>
	</div>

	<!-- Game board -->
	<div class="board_container">
		
		<div class="game_over_notification" ng-model="gameOverVisible" ng-hide="gameOverVisible.view==false" ng-show="gameOverVisible.view==true">
			<div class="game_over_text">
				Thank You For Playing
			</div>
		</div>
		
		<div class="reset_notification" id="reset_popup" ng-model="resetVisible" ng-hide="resetVisible.view==false" ng-show="resetVisible.view==true">
			<div class="reset_buttons_labels">
				New Game?
				<div class="yes_button">
					<div class="y_n_label">
						<label>Yes?</label>
					</div>
					<div class="y_n_button">
						<input type="button" ng-click="resetGame()">
					</div>
				</div>
				<div class="no_button">
					<div class="y_n_label">
				 		<label>No?</label>
				 	</div>
				 	<div class="y_n_button">
						<input type="button" ng-click="gameOver()">
					</div>
				</div>
			</div>
		</div>
		
		<!-- Create board -->
		<div>
			<div class="row clearfix" ng-repeat="row in ticTacToe">
      			<div class="box" ng-bind="cell.val" ng-repeat="cell in row" ng-click="addXO(cell)"></div>
    		</div>
    	</div>

	</div>
</div>
