<div class="super_container">
	<a href="#/about">About</a>

  	<!-- Reset button -->
	<div class="restart">
		<div id="reset_button" ng-click="pressResetButton()" ng-style="resetStyle"></div>
	</div>

	<!-- Sets who puts down a 'X' or an 'O' -->
	<div class="radio_container clearfix">
		<div class="player_1_radio" ng-style="winStyle">
			<input type="radio" name="player" id="player_1" ng-model="radio" value="1">
			<label>Player 1</label>
		</div>
		<div class="player_2_radio" ng-style="winStyle2">
			<div class="player_2_inner">
				<label>Player 2</label>
				<input type="radio" name="player" id="player_2" ng-model="radio" value="2">
			</div>
		</div>
	</div>

	<!-- Game board -->
	<div class="board_container">

		<div class="reset_notification" ng-model="resetVisible" ng-hide="resetVisible.view==false" ng-show="resetVisible.view==true">
				<div class="new_game">
					<input type="button" ng-click="resetGame()">New Game?</input>
				</div>
		</div>
		
		<!-- Create board -->
		<div>
			<div class="row clearfix" ng-repeat="row in ticTacToe">
      			<div class="box" ng-bind="cell.val" ng-repeat="cell in row" ng-click="addXO(cell,turn)" change-bg="cell.val"></div>
    		</div>
    	</div>

	</div>

</div>
